:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-form-field,
  button {
    min-width: 250px;
  }
}
