<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput type="number" step="1" placeholder="Anzahl Etagen" formControlName="etagen">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" step="1" placeholder="Parkplätze pro Etage" formControlName="parkinglots">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" step="1" placeholder="Behindertenparkplätze pro Etage" formControlName="disabledparking">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" step="1" placeholder="Frauenparkplätze pro Etage" formControlName="womenparking">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" step=".1" placeholder="Preis pro Stunde" formControlName="price">
  </mat-form-field>
  <button mat-button mat-raised-button color="primary">
    <mat-icon>refresh</mat-icon>Zurücksetzen
  </button>
</form>
