<mat-accordion *ngIf="value">
  <mat-expansion-panel [expanded]="step === etage.id" (opened)="setStep(etage.id)" *ngFor="let etage of value.etagen">
    <mat-expansion-panel-header>
      <app-etage-header [value]="etage"></app-etage-header>
    </mat-expansion-panel-header>
    <div class="parkplaetze">
      <app-parkplatz *ngFor="let parkplatz of etage.parkplaetze" (update)="onUpdate($event)" [etage]="etage" [value]="parkplatz"></app-parkplatz>
    </div>
  </mat-expansion-panel>
</mat-accordion>
