:host {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .icon {}
    .caption {
      font-weight: bold;
      font-size: 1.1em;
      padding-left: 8px;
      padding-top: 2px;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.content {
  padding: 10px;
  min-width: 230px;
  height: 100%;
  overflow-y: auto;
  display: block;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 40px;
}

.cost {
  display: flex;
  flex-direction: column;
}

.keyvalue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .key {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .value {
    font-weight: bold;
  }
}
