<div class="head">
  <div class="left">
    <mat-icon class="icon">local_parking</mat-icon>
    <div class="caption" *ngIf="value">Parkplatz {{value.etageid+1 }}-{{value.parkplatzid+1}}</div>
  </div>
  <div class="right">
    <button mat-icon-button (click)="onClose('cross')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="content">
  <mat-spinner *ngIf="!value"></mat-spinner>
  <div class="car-information" *ngIf="value">
    <div *ngIf="!value.parkplatz.fahrzeug">
      Parkplatz nicht belegt.
    </div>
    <div *ngIf="value.parkplatz.fahrzeug">
      <app-car [value]="value.parkplatz.fahrzeug"></app-car>
    </div>
  </div>
  <div class="cost" *ngIf="value && value.parkplatz.fahrzeug">
    <div class="keyvalue">
      <div class="key">
        <mat-icon>query_builder</mat-icon>
        <span>Parkt seit</span>
      </div>
      <div class="value">
        {{value.parkplatz.fahrzeug.ankunft | date:"dd.MM.yyyy HH:mm"}}
      </div>
    </div>
    <div class="keyvalue">
      <div class="key">
        <mat-icon>query_builder</mat-icon>
        <span>Parkdauer</span>
      </div>
      <div class="value">
        {{getAmountOfParkingHours()}} Std. {{getAmountOfParkingMinutes()}} Min.
      </div>
    </div>
    <div class="keyvalue">
      <div class="key">
        <mat-icon>payment</mat-icon>
        <span>Parkkosten</span>
      </div>
      <div class="value">
        {{getCurrentParkingPrice() |number:'1.2-2'}}&euro;
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <!-- ACTIONS -->
  <button mat-button mat-raised-button color="primary" (click)="onLeaveCar()">Ausfahren</button>
  <button mat-button (click)="onClose('ok')">OK</button>
</div>
