<div class="header">
  <h2>Statistik</h2>
  <form class="search" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <mat-form-field>
      <input matInput type="number" step="1" placeholder="Monat" formControlName="monat">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" step="1" placeholder="Jahr" formControlName="jahr">
    </mat-form-field>
    <button type="submit" mat-button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </form>
</div>
<div class="stat" *ngIf="stat">
  <h3>Einnahmen</h3>
  <!-- Einnnahmen -->
  <div class="chartbox">
    <div class="y-axis" [ngStyle]="{'height':yheight+'px'}">{{maxHeightValue| number:'1.2-2'}}</div>
    <div class="wrap">
      <div class="chart" [ngStyle]="{'height':yheight+'px'}">
        <div class="balken" [class.highlight]="c.current" *ngFor="let c of stat.jahresstatistik; let i = index" [ngStyle]="{'height':getHeightOfYear(i)+'%'}">
          {{c.einnhamen | number:'1.2-2'}}&euro;
        </div>
      </div>
      <div class="footer">
        <div class="balken" *ngFor="let c of stat.jahresstatistik; let i = index">
          {{c.monat}}/{{c.jahr}}
        </div>
      </div>
    </div>
  </div>
  <h3>Fahrzeuge</h3>
  <!-- FAHRZEUGE -->
  <div class="chartbox">
    <div class="y-axis" [ngStyle]="{'height':yheight+'px'}">{{maxHeightFahrzeugeValue| number:'1.2-2'}}</div>
    <div class="wrap">
      <div class="chart" [ngStyle]="{'height':yheight+'px'}">
        <div class="balken" [class.highlight]="c.current" *ngFor="let c of stat.jahresstatistik; let i = index" [ngStyle]="{'height':getHeightFahrzeugeOfYear(i)+'%'}">
          {{c.anzahlfahrzeuge}}
        </div>
      </div>
      <div class="footer">
        <div class="balken" *ngFor="let c of stat.jahresstatistik; let i = index">
          {{c.monat}}/{{c.jahr}}
        </div>
      </div>
    </div>
  </div>
  <mat-list>
    <h3 mat-subheader>Fahrzeuge - Details</h3>
    <mat-list-item *ngFor="let fahrzeug of stat.fahrzeuge">
      <mat-icon class="custom-list-icon" mat-list-icon [ngStyle]="{'color':fahrzeug.farbe}">directions_car</mat-icon>
      <h4 mat-line>{{fahrzeug.kennzeichen}}</h4>
      <div mat-line>
        <mat-icon *ngIf="fahrzeug.geschlecht=='WEIBLICH'">child_friendly</mat-icon>
        <mat-icon *ngIf="fahrzeug.behinderung">accessible</mat-icon>
      </div>
      <p mat-line>geparkt
        <b>{{fahrzeug.einfahrt |date:'dd.MM.yyyy HH:mm'}}</b> bis
        <b>{{fahrzeug.ausfahrt |date:'dd.MM.yyyy HH:mm'}}</b> auf Etage {{fahrzeug.etage}}, Parkplatz {{fahrzeug.parkplatz}}
      </p>
      <p mat-line>Parkzeit {{fahrzeug.geparkt.stunden}} Std. {{fahrzeug.geparkt.minuten}} Min. für {{fahrzeug.geparkt.preis | number:'1.2-2'}}&euro;</p>
    </mat-list-item>
  </mat-list>
</div>
