@import "~color.scss";
:host {
  display: block;
  padding: 20px;
  padding-top: 0px;
}

form.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-form-field {
    max-width: 100px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (orientation:portrait) {
  .header {
    flex-direction: column;
  }
}

.chartbox {
  display: flex;
  .y-axis {
    padding-right: 2px;
    border-right: 2px solid lightgray;
    color: gray;
    border-top: 1px solid lightgray;
  }
  .chart {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid lightgray;
    align-items: flex-end;
    .balken {
      width: 80px;
      max-width: 80px;
      border: 1px solid lightgray;
      border-bottom-width: 0px;
      margin-left: 2px;
      margin-right: 2px;
      background-color: rgba(168, 168, 168, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
      overflow: hidden;
      border-top-width: 3px;
      .inner {
        display: flex;
        border: 1px solid lightgray;
        border-top-width: 3px;
        background-color: rgba(168, 168, 168, 0.3);
        overflow: hidden;
      }
    }
  }
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .footer {
    display: flex;
    flex-direction: row;
    .balken {
      border: 1px solid transparent;
      width: 80px;
      margin-left: 2px;
      margin-right: 2px;
      max-width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}

.highlight {
  border-color: $color-primary !important;
  background-color: rgba(33, 150, 243, 0.31) !important;
  color: #010d1f !important;
}

.custom-list-icon {
  background-color: #d3d3d3a3;
  padding: 7px !important;
}
