<div class="car-information" *ngIf="value">
  <div class="info">
    <div class="keyvalue">
      <mat-icon>label</mat-icon>
      <div class="value">{{value?.kennzeichen}}</div>
    </div>
    <div class="keyvalue">
      <mat-icon>wc</mat-icon>
      <div class="value">{{getGeschlecht()}}</div>
    </div>
    <div class="keyvalue">
      <mat-icon>accessible</mat-icon>
      <div class="value">{{getBehinderung()}}</div>
    </div>
  </div>
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="150px" height="100px" viewBox="496.501 117.1 453.5 250.668" enable-background="new 496.501 117.1 453.5 250.668"
    xml:space="preserve">
    <g>
      <path [attr.fill]="value?.color" stroke-width="2" stroke="black" d="M856.429,208.532c-36.655-35.378-63.75-61.888-81.497-78.48C762.365,118.31,754.055,117.1,749.72,117.1
		c-4.096,0-109.207,0-121.448,0c-12.227,0-18.955,2.324-25.212,12.952c-6.232,10.612-40.529,52.236-48.217,66.198
		c-50.89,10.805-58.342,20.699-58.342,36.138c0,8.747,0,66.528,0,66.528c0,8.353,20.516,30.286,28.344,30.286h12.74
		c7.79,22.459,28.715,38.566,53.397,38.566c24.675,0,45.609-16.107,53.396-38.566H821.03c7.781,22.459,28.714,38.566,53.39,38.566
		c25.837,0,47.587-17.649,54.427-41.754c9.141-6.383,21.154-20.708,21.154-27.099c0,0,0-45.603,0-54.351
		C950.001,229.78,920.186,221.347,856.429,208.532z M589.718,196.641c7.311-10.354,24.575-33.139,28.645-38.914
		c5.273-7.484,8.675-9.966,17.986-9.966c3.896,0,23.533,0,45.059,0v65.746c-43.543,0-82.477,0-87.389,0
		C585.408,213.511,581.343,208.483,589.718,196.641z M590.979,338.841c-15.622,0-28.345-12.979-28.345-28.923
		c0-15.941,12.723-28.922,28.345-28.922c15.624,0,28.344,12.98,28.344,28.922C619.322,325.861,606.603,338.841,590.979,338.841z
		 M689.51,213.511v-65.753c27.632,0,55.546,0,55.546,0c7.275,0,15.081,3.373,20.26,8.077c7.237,6.577,36.197,34.435,47.536,45.604
		c10.187,9.982,5.499,12.063-1.998,12.063C810.854,213.511,747.72,213.511,689.51,213.511z M874.42,338.841
		c-15.627,0-28.344-12.979-28.344-28.923c0-15.941,12.717-28.922,28.344-28.922c15.626,0,28.343,12.98,28.343,28.922
		C902.763,325.861,890.046,338.841,874.42,338.841z" />
    </g>
  </svg>
</div>
