:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.keyvalue {
  display: flex;
  flex-direction: row;
  align-items: center;
  .value {
    padding-left: 4px;
  }
}

.car-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px;
  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    margin: 5px;
  }
}
