<div class="inner">
  <div class="info">
    <mat-icon [class.hidden]="!isBehindert()">accessible</mat-icon>
    <mat-icon [class.hidden]="!isFrauenParkplatz()">child_friendly</mat-icon>
  </div>
  <div class="car">
    <mat-icon *ngIf="value && value.fahrzeug" [ngStyle]="{'color':value.fahrzeug?.color}">directions_car</mat-icon>
  </div>
  <div class="number">
    {{value?.id+1}}
  </div>
</div>
