@import "~color.scss";
:host {
  display: flex;
  min-width: 70px;
  min-height: 70px;
  max-height: 70px;
  max-width: 70px;
  margin: 2px;
  background-color: lightgray;
  border: 2px solid transparent;
  padding: 2px;
  cursor: pointer;
}

:host:hover {
  border: 2px solid $color-primary;
}

.inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.number {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}

.car {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: 4px;
    color: white;
  }
}
