:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.max {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {}

.menu-caption {
  display: none;
}

div.toolbar-user-box-note {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .4s;
  .notes {
    position: relative;
  }
  .notes:after {
    content: attr(data-badge);
    position: absolute;
    top: -1px;
    display: flex;
    right: -8px;
    padding: 1px;
    font-size: 0.6em;
    background: #ff8300;
    color: #ffffff;
    font-weight: bold;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    justify-content: center;
    align-items: center;
  }
}

div.toolbar-user-box-note:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

@media screen and (orientation:portrait) {
  .toolbar-user-box {
    padding: 2px;
    .caption {
      display: none;
    }
  }
  div.toolbar-user-box-note {
    margin-right: 10px;
  }
  .menu-caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.loading-overlay {
  transition: background-color 5s;
  display: none;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading-overlay.disabled {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.31);
  display: flex !important;
  height: 100%;
  width: 100%;
  z-index: 998;
  align-items: center;
  justify-content: center;
}

.top-loading {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 9px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  width: 300px;
}

.slow-connection-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
}
