<mat-sidenav-container class="max">
  <mat-sidenav #sidenav opened="false">
    <app-sidenav [side]="sidenav"></app-sidenav>
  </mat-sidenav>
  <div class="app-wrapper">
    <mat-toolbar class="header" color="primary">
      <mat-icon (click)="sidenav.open()" class="toolbar-icon">menu</mat-icon>
      <span>{{title}}</span>
      <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <mat-progress-bar class="top-loading" color="accent" [class.invisible]="!loader" mode="indeterminate"></mat-progress-bar>
    <div class="loading-overlay" [class.disabled]="loader">
      <div class="slow-connection-overlay" [class.invisible]="!slow">
        Ihre Verbindung ist langsam. Dadurch kann der Ladevorgang etwas länger dauern.
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
