<app-parkhaus-free-lots [reload]="reload"></app-parkhaus-free-lots>
<!-- <div class="loading-details" *ngIf="details == null">
  <mat-spinner color="primary"></mat-spinner>
</div> -->
<div class="actions">
  <button mat-button mat-raised-button color="primary" (click)="onCreateCar()">Neues Fahrzeug</button>
  <button mat-button mat-raised-button color="primary" (click)="onLeaveRandomCar()">Fahrzeug ausfahren</button>
</div>
<!-- <div class="car-query">
  <div class="street">
    <app-car *ngFor="let car of carQuery" [value]="car"></app-car>
  </div>
</div> -->

<mat-list>
  <h3 mat-subheader>Fahrzeuge - Einfahrt</h3>
  <mat-list-item *ngFor="let car of carQuery">
    <mat-icon class="custom-list-icon" mat-list-icon [ngStyle]="{'color':car.color}">directions_car</mat-icon>
    <h4 mat-line>{{car.kennzeichen}}</h4>
    <div mat-line>
      <mat-icon *ngIf="car.geschlecht=='WEIBLICH'">child_friendly</mat-icon>
      <mat-icon *ngIf="car.behinderung">accessible</mat-icon>
    </div>
  </mat-list-item>
</mat-list>
