.loading-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.car-query {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  min-height: 226px;
  background-color: #757575;
  margin-top: 5px;
  max-width: 100vw;
  overflow-x: scroll;
  .street {
    border-top: 3px dotted white;
    border-bottom: 3px solid white;
    background-color: #757575;
    display: flex;
    min-height: 113px;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    app-car {
      margin-left: 4px;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-list-icon {
  background-color: #d3d3d3a3;
  padding: 7px !important;
}

mat-list-item {
  border-bottom: 1px solid lightgray;
}
