:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 2px;
  .all {
    font-weight: normal;
    font-size: .8em;
    margin-left: 2px;
  }
}
