:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  max-width: 250px;
  min-width: 250px;
  margin: 5px;
  justify-content: space-between;
}

.caption {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  font-size: 30px;
}

.amount {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid black;
  background-color: #424242;
  max-width: 1.9em;
  padding: 1px 5px;
  color: #c0ca33;
  font-weight: bold;
  font-size: 1.9em;
  font-family: monospace;
  letter-spacing: 2px;
  padding-right: 2px;
  min-width: 58px;
}
