:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}

.caption {
  font-weight: bold;
}

.parking-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
