<div class="caption">
  {{value.id+1}}. Etage
</div>
<div class="parking-details">
  <app-etage-info [frei]="value.normal.frei" [belegt]="value.normal.belegt" icon="directions_car"></app-etage-info>
  <app-etage-info [frei]="value.behinderte.frei" [belegt]="value.behinderte.belegt" icon="accessible"></app-etage-info>
  <app-etage-info [frei]="value.frauen.frei" [belegt]="value.frauen.belegt" icon="child_friendly"></app-etage-info>
</div>
