@import "~color.scss";
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: $color-primary;
  color: white;
  padding-left: 10px;
  .caption {
    font-size: 1.2em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  .entry {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    mat-icon {
      color: $color-primary;
      margin-right: 10px;
    }
  }
}
