<div class="head">
  <div class="caption">Menü</div>
  <button mat-icon-button>
    <mat-icon (click)="close()">close</mat-icon>
  </button>
</div>
<div class="content">
  <button class="entry" mat-button (click)="navigate('/main-page')">
    <mat-icon>home</mat-icon>Startseite</button>
  <button class="entry" mat-button (click)="navigate('/parkhaus-page')">
    <mat-icon>local_parking</mat-icon>Parkhaus</button>
  <button class="entry" mat-button (click)="navigate('/parkhaus-statistik-page')">
    <mat-icon>trending_up</mat-icon>Statistik</button>
  <button class="entry" mat-button (click)="navigate('/reset-parkhaus-page')">
    <mat-icon>refresh</mat-icon>Zurücksetzen</button>
</div>
