$color-primary: #2196f3;
$color-accent: #4fc3f7;
$color-warning:#ffd54f;
$color-error: #e53935;
$color-success:#4caf50;
$color-success-dark:#00b248;
$color-gray:#757575;
$color-gray-light:#d6d6d6;
$color-gray-dark:#494949;
$color-shadow:rgba(197, 197, 197, 0.164);
$color-cyan:#00bcd4;
