/* You can add global styles to this file, and also import other style files */

@import "color.scss";
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 500);
$accent: mat-palette($mat-light-blue, 300);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
html {
  height: 100vh;
}


/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}


/* GLOBAL STYLES */

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .4s;
}

.toolbar-icon:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

.button-icon {
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .4s;
}

.button-icon:hover {
  background-color: rgba(211, 211, 211, 0.596);
}

.invisible {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}
